* {
    border-style: solid;
    border-color: lightblue;
}

body {
    height: 85vh;
    width: 85vw;
}

aside {
    width: 20%;
    float: left;
}

.optionButton {
    width: 80%;
    height: 30%;
    white-space: normal
}

main {
    width: 75%;
    height: 100%;
    float: right;
}

/* https://codepen.io/chriscoyier/pen/NWKrXQx */

#board {
    width: 75%;
    height: 200px;
    border-collapse: separate;
    border-spacing: 1em;
    margin: 1rem auto;
    background-color:  lightblue;
}

#board td {
    width: 1rem;
    height: 1rem;
    padding: 1rem 1rem;
    border-radius:  50%;
    background-color:  white;
}

/*
#resumeGame {
    display: none;
}
*/

/*
#userRandomButton {
    display: none;
}
    */